<h3>3D-Secure Authentication with your Bank</h3>

<p><strong>To increase the security of Internet transactions, Visa and Mastercard have introduced 3D-Secure (like an online version of Chip and PIN). 
</strong></p>
<br/>
<p>
You have chosen to use a card that is part of the 3D-Secure scheme, so you will need to authenticate yourself with your bank in the section below.
</p>
<br/>
<div style="text-align: center;">
  <img src="<%= asset_path ('vbv_logo_small.gif')%>" alt="Verified by Visa" />
  <img src="<%= asset_path ('mcsc_logo.gif')%>" alt="MasterCard SecureCode" />
</div>
<p>
<br/>
    <iframe id="3ds" width="850" height="450" frameborder="0" scrolling="no" title="Authentication with your bank will happen in this frame">
    Should be replaced
  </iframe>
  
</p>

<div id="the_form">
  <div align="center">
    <%=raw( @form )%>
  </div>
</div>

<% content_for :head do %>
  <script type="text/javascript">
  $('iframe#3ds').ready(function() {
    $('body', $('iframe#3ds').contents()).html($('#the_form').html());
    $('#the_form').hide();
  });
  </script>
<% end %>
